@charset "ISO-8859-1";

* {
    margin: 0px;
    padding: 0px;
    position: relative;
}


body {
    background-color: rgb(85, 84, 84);
}

.cabecera {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecera > div {
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.cab1 {
    background-image: url("../img/spring-framework.png");
    background-repeat: no-repeat;
    background-size:contain;
}

.cap2 {
    background-image: url("../img/java-logo.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
}

.cuerpo {
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgb(165, 165, 165);
    height: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.pie {
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(240, 241, 241);
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie > p > span {
    display: inline-block;
text-align: right;
margin: 0px;
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
filter: FlipH;
-ms-filter: "FlipH";
}

.pie > p  {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 14px;
}

.panel1 {
    width: 29%;
    height: auto;
    margin-left: 0.5%;
    background-color: rgb(240, 241, 241, 0.5);
    border-radius: 5px;
}

.panel2 {
    width: 69%;
    height:auto;
    margin-left: 0.5%;
    background-color: rgb(240, 241, 241, 0.5);
    border-radius: 5px;
}

.nota {
    width: 98%;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
   
}

.notacab1, .notacab2 {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.notacab1 {
    background-color: rgb(39, 39, 39);
}

.notacab2 {
    background-color: rgb(61, 153, 58);
}

.notacab2 > p, .notacab1 > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    padding: 5px;
}


.notabody {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    text-align:left;
    background-color: rgb(236, 235, 235);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.notabody > p {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:rgb(22, 22, 22);
}

.notabody > p.objetivos {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:rgb(22, 22, 22);
}

.notabody > p > span {
    font-weight: bold;
}

.notabody > p > a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(33, 107, 10);
    text-decoration: none;
}

.notabody > p > a:hover {
    color:rgb(218, 63, 16);
}

.notabody > p > span {
    font-size: 18px;
    color:rgb(90, 90, 90);
}

.item {
    width: 98%;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 5px;
    background-color: rgb(240, 241, 241);
}

.item > p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.item > p > span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(21, 158, 16);
}

.item > p > a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(33, 107, 10);
    text-decoration: none;
}

.item > p > a:hover {
    color:rgb(218, 63, 16);
}

/*Estilos Formularios*/
.item > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 310px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    background-color: rgb(195, 197, 197);
    border-radius: 10px;
    margin: 5px;
    padding-top: 5px;
}

form label {
    text-align: left;
    width: 75px;
    display: inline-block;
    color: rgb(11, 109, 11);
    padding: 5px;
}

form input[type="text"], form input[type="number"] {

    width: 190px;
    height: 20px;
    padding: 5px;
    font-size: 16px;
    border: rgb(15, 100, 12) 1px solid;
    border-radius: 2px;
    margin-left: 2px;
    
}

form input[type="text"]:hover, form input[type="number"]:hover {
    border-color: rgb(89, 211, 33);
}

form input[type="text"]:focus, form input[type="number"]:focus {
    border-color: rgb(230, 71, 31);
    border-width: 1px;
    outline: none;
}

form select {
    width: 202px;
    height: 30px;
    margin-left: 2px;
    border-radius: 2px;
    border: rgb(15, 100, 12) 1px solid;
}



form select:hover {
    border-color: rgb(89, 211, 33);
}


form input[type="submit"] {

    width: 100px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: rgb(15, 100, 12) 1px solid;
    border-radius: 2px;
    background-color: rgb(188, 209, 228);
    border: rgb(188, 209, 228);
    margin-top: 2px;
    margin-bottom: 4px;
}

form input[type="submit"]:hover {
    background-color: rgb(155, 177, 199);
    cursor:pointer;
}

form > div {
    margin-top: 2px;
    width: auto;
    text-align: center;
}




@media (max-width: 999px) {


    .cabecera {
        height: 120px;
    }
    .cuerpo {
        display:block;
    }
    
    .panel1 {
        width: 99%;
    }
    
    .panel2 {
        width: 99%;
    }

}

